@model ProjetoAutorLivro.Models.Livro

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <form action="/Livro/Edit" method="post">

            <input type="text" value="@Model.IdLivro" hidden name="IdLivro" />

            <label for="Nome" class="col-md-2">Nome do Livro</label>
            <div class="form-group">
                <input type="text" value="@Model.Nome" name="Nome" id="Nome" class="form-control" />
            </div>
            

            <label for="Autor" class="col-md-2">Autor</label>

            <div class="form-group">
                @Html.DropDownList("IdAutor", new SelectList(ViewBag.ListaAutores, "IdAutor", "Nome"), new { @class = "form-control" })
            </div>
            
            <label class="col-md-2">Quantidade de Páginas</label>
            <div class="form-group">
                <input type="text" value="@Model.Paginas" name="Paginas" class="form-control"/>
            </div>
            
             <label class="col-md-2">Editora do Livro</label>
            <div class="form-group">
                <input type="text" value="@Model.Editora" name="Editora" class="form-control"/>
            </div>
            

            <input type="submit" value="Salvar" class="col-md-offset-2 btn btn-success" />

        </form>
    </div>
</div>
@*<script>
    fetch('/Autor/Listar').then(data => data.text()).then(data => {

        var comboCidades = document.getElementById("IdAutor");


        console.log(JSON.parse(@Model.IdAutor))
        JSON.parse(data).forEach((element,atual) => {
            console.log(element)
            var opt0 = document.createElement("option");
            opt0.value = element.IdAutor;
            opt0.text = element.Nome;
            comboCidades.add(opt0, comboCidades.options[0]);
            if(element.IdAutor == @Model.IdAutor)
            comboCidades.selectedIndex = atual
        })


        
  })
</script>*@